/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #00a8e6;
    text-decoration: none;
}

/* Styles de la page d'accueil */
h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #00a8e6;
}

a {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    transition: color 0.3s;
}

a:hover {
    color: #0090cc;
}

/* Styles du formulaire de réservation */
form {
    text-align: left;
    margin: 20px 0;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

input[type="date"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #00a8e6;
    background-color: #111;
    color: #fff;
    font-size: 1.2em;
}

input[type="submit"] {
    background-color: #00a8e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0090cc;
}

/* Styles de la liste des réservations */
ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 10px 0;
    border: 2px solid #00a8e6;
    padding: 10px;
    background-color: #111;
    position: relative;
}

li a {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #f00;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

li a:hover {
    color: #c00;
}