<!DOCTYPE html>

<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

	<head>
		    <title>Gestion de réservations Hooly</title>
	</head>
	<div class="container">
		<h1 class="title">Bienvenue sur la gestion de réservations Hooly</h1>
		<a class="button is-primary" href="{{ url_for('reserver') }}">Réserver un emplacement</a>
		<a class="button is-info" href="{{ url_for('liste') }}">Voir la liste des réservations</a>
	</div>

</html>

