<!DOCTYPE html>
<html>
<head>
    <title>Liste des réservations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Liste des réservations</h1>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Emplacement</th>
                        <th>Foodtruck</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation[0] }}</td>
                            <td>{{ reservation[1] }}</td>
                            <td>{{ reservation[2] }}</td>
                            <td>
                                <a href="{{ url_for('supprimer', index=loop.index0) }}" class="button is-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('reserver') }}" class="button is-primary">Réserver un emplacement</a>
        </div>
    </section>
</body>
</html>
