<!DOCTYPE html>
<html>
<head>
    <title>Réserver un emplacement</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Réserver un emplacement</h1>
            <form method="POST">
                <div class="field">
                    <label class="label">Date</label>
                    <div class="control">
                        <input class="input" type="date" name="date" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Emplacement</label>
                    <div class="control">
                        <select class="select" name="emplacement" required>
                            <option value="emplacement1">Emplacement 1</option>
                            <option value="emplacement2">Emplacement 2</option>
                            <option value="emplacement3">Emplacement 3</option>
                            <option value="emplacement4">Emplacement 4</option>
                            <option value="emplacement5">Emplacement 5</option>
                            <option value="emplacement6">Emplacement 6</option>
                            <option value="emplacement7">Emplacement 7</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Nom du Foodtruck</label>
                    <div class="control">
                        <input class="input" type="text" name="foodtruck" required>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary" type="submit">Réserver</button>
                </div>
            </form>
            <a class="button is-info" href="{{ url_for('index') }}">Retour à l'accueil</a>
        </div>
    </section>
</body>
</html>